<!DOCTYPE html>
<html>
<head>
  <!-- Load Heroku node.js template partial -->
  <% include ../partials/header.ejs %>
</head>

<body>
  <!-- Load Heroku node.js template partial -->
  <% include ../partials/nav.ejs %>

  <div class="jumbotron text-center">
    <div class="container">
      <!-- <a href="/" class="lang-logo">
        <img src="/lang-logo.png">
      </a> -->
      <h1>2019 NSF Civil Innovation Challenge</h1>
      <h2>Climate Change - Resilience Theme</h2>
      <p>Code for Sacramento Entry: Technology to Minimize Flooding and Erosion Impacts</p>
      <!-- <a type="button" class="btn btn-lg btn-default" href="https://codeforsacramento.org/"><span class="glyphicon glyphicon-flash"></span> Code for Sacramento</a>
      <a type="button" class="btn btn-lg btn-default" href="https://nsfcivicinnovation.org/"><span class="glyphicon glyphicon-flash"></span> Civic Innovation Challenge</a> -->
      <a type="button" class="btn btn-lg btn-default" href="/map"><span class="glyphicon glyphicon-map-marker"></span> View GIS Map</a>
    </div>
  </div>

  <div class="container">
    <h4>
      <div class="row">
        <div class="col-md-6">
          <h3><span class="glyphicon glyphicon-link"></span> Software and Tools</h3>
          <ul>
            <li><a href="https://devcenter.heroku.com/categories/nodejs-support">Node.js on Heroku</a></li>
            <li><a href="https://developers.arcgis.com/javascript/">ESRI/GIS JS API</a></li>
          </ul>
        </div>

        <div class="col-md-6">
          <h3><span class="glyphicon glyphicon-link"></span> Resources</h3>
          <ul>
            <li><a href="https://codeforsacramento.org/">Code for Sacramento</a></li>
            <li><a href="https://nsfcivicinnovation.org/">NSF Civic Innovation Challenge</a></li>
          </ul>
        </div>
      </div>
    <h4>
  </div>

</body>
</html>
