<!DOCTYPE html>

<!--
  Class: HES E8, Spring 2017
  Assignment: HW9, ESRI JS API Web App
  Author: Walter Yu, HES
  Live URL: https://e8-hw9.herokuapp.com/map
  Github Repo: https://github.com/walteryu/e8-hw9

  References:
  ESRI JS API, 2D Map Template: http://arcg.is/2nytHZt
  ESRI JS API, Layer Template: http://arcg.is/2nyNuIe
  Heroku Node.js Tutorial: http://bit.ly/2nyFTJN
-->

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
  <title>ESRI JS API Demo</title>

  <!-- Load JS API before function calls -->
  <script src="https://js.arcgis.com/4.3/"></script>
  <script>
    require([
      "esri/Map",
      "esri/views/MapView",
      "esri/layers/FeatureLayer",
      "esri/widgets/LayerList",
      "esri/widgets/Legend",
      "esri/widgets/Locate",
      "dojo/domReady!"
    ], function(Map, MapView, FeatureLayer, LayerList, Legend, Locate) {

      var map = new Map({
        // Toggle options for basemap here
        // basemap: "streets"
        basemap: "hybrid"
      });

      var view = new MapView({
        container: "viewDiv",
        map: map,

        // Zoom and center map on San Francisco, CA
        zoom: 8,
        center: [-122.431297,37.773972]
      });

      // FeatureLayer() Reference, ESRI JS API: http://arcg.is/2nyyvht
      // ESRI/AGOL Map Layer Reference, US Cities: http://arcg.is/2nyyvht
      var cityLayer = new FeatureLayer({
        url: "https://services.arcgis.com/P3ePLMYs2RVChkJx/arcgis/rest/services/USA_Major_Cities/FeatureServer"
      });

      // FeatureLayer() Reference, ESRI JS API: http://arcg.is/2nyyvht
      // ESRI/AGOL Map Layer Reference, US Freeways: http://arcg.is/2nyzgr4
      var freewayLayer = new FeatureLayer({
        url: "https://services.arcgis.com/P3ePLMYs2RVChkJx/arcgis/rest/services/USA_Freeway_System_analysis/FeatureServer"
      });

      // FeatureLayer() Reference, ESRI JS API: http://arcg.is/2nyyvht
      var caltransLayer = new FeatureLayer({
        url: "https://services.gis.ca.gov/arcgis/rest/services/Economy/GOBiz_Permits_Regulations/MapServer/8/query?outFields=*&where=1%3D1"
      });

      // ESRI/AGOL Reference, Locate Widget: http://arcg.is/2nuD00V
      var locateBtn = new Locate({
        view: view
      });
      // Add the locate widget to the top left corner of the view
      view.ui.add(locateBtn, {
        position: "top-left"
      });

      // ESRI/AGOL Reference, Map Layer Widget: http://arcg.is/2nuFRa1
      var layerList = new LayerList({
        view: view
      });
      // Adds widget below other elements in the top left corner of the view
      view.ui.add(layerList, {
        position: "top-right"
      });

      // ESRI/AGOL Reference, Map Legend Widget: http://arcg.is/2nuFPin
      var legend = new Legend({
        view: view,
        layerInfos: [
          {
            layer: cityLayer,
            title: "Major US Cities"
          },
          {
            layer: freewayLayer,
            title: "Major US Freeways"
          },
          {
            layer: caltransLayer,
            title: "Caltrans District Boundaries"
          }
        ]
      });
      // Add widget to the bottom right corner of the view
      view.ui.add(legend, "top-right");

      // Render layers using add function
      map.add(cityLayer);
      map.add(freewayLayer);
      map.add(caltransLayer);
    });
  </script>

  <!-- Load stylesheet/partial in order, removes gap below navbar -->
  <link rel="stylesheet" href="https://js.arcgis.com/4.3/esri/css/main.css">

  <!-- Load Heroku node.js template partial -->
  <% include ../partials/header.ejs %>

  <!-- Override css to size map/navbar -->
  <style>
    html,
    body,
    #viewDiv {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
    }
    .navbar {
      margin-bottom: 0px;
    }
  </style>

</head>

<body>
  <!-- Load Heroku node.js template partial -->
  <% include ../partials/nav.ejs %>

  <!-- Load main map container -->
  <div id="viewDiv"></div>
</body>
</html>
