<!DOCTYPE html>

<!--
  Class: HES E8, Spring 2017
  Assignment: HW9, ESRI JS API Web App
  Author: Walter Yu, HES
  Live URL: https://e8-hw9.herokuapp.com/map
  Github Repo: https://github.com/walteryu/e8-hw9

  References:
  ESRI JS API, 2D Map Template: http://arcg.is/2nytHZt
  ESRI JS API, Layer Template: http://arcg.is/2nyNuIe
  Heroku Node.js Tutorial: http://bit.ly/2nyFTJN
-->

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
  <title>ESRI JS API Demo</title>

  <!-- Load JS API before function calls -->
  <script src="https://js.arcgis.com/4.3/"></script>
  <script>
    require([
      "esri/Map",
      "esri/views/MapView",
      "esri/layers/FeatureLayer",
      "dojo/domReady!"
    ], function(Map, MapView, FeatureLayer) {

      var map = new Map({
        // Toggle options here for basemap
        // basemap: "streets"
        basemap: "hybrid"
      });

      var view = new MapView({
        container: "viewDiv",
        map: map,
        // zoom: 12,
        // center: [-122.431297,37.773972]

        extent: { // autocasts as new Extent()
          xmin: -9177811,
          ymin: 4247000,
          xmax: -9176791,
          ymax: 4247784,
          spatialReference: 102100
        }
      });

      var featureLayer = new FeatureLayer({
        url: "https://services.arcgis.com/V6ZHFr6zdgNZuVG0/arcgis/rest/services/Landscape_Trees/FeatureServer/0"
      });

      map.add(featureLayer);

    });
  </script>

  <!-- Load stylesheet/partial in order, removes gap below navbar -->
  <link rel="stylesheet" href="https://js.arcgis.com/4.3/esri/css/main.css">
  <% include ../partials/header.ejs %>

  <style>
    html,
    body,
    #viewDiv {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
    }
    .navbar {
      margin-bottom: 0px;
    }
  </style>

</head>

<body>
  <% include ../partials/nav.ejs %>

  <div id="viewDiv"></div>
</body>
</html>
